{% extends 'base.html' %}


{% block head_title %}
Employees -
{% endblock head_title %}


{% block content %}
<div class="container">
    <div class="col-lg-12 mx-auto">
        <div class="py-5 col-lg-6 mx-auto">
            <form action=""
                method="get">
                <input class="form-control rounded-pill"
                    autofocus
                    type="text"
                    placeholder="Search employees..."
                    name="employees">
            </form>
        </div>

        <div class="row">
            <div class="col">
                <span class="h1 px-5">Employees</span>
            </div>
            <div class="col">
                <a class="float-end"
                    href="{% url 'employee-create' %}"><span
                        class="material-symbols-outlined text-dark fs-1 px-5">
                        add_circle
                    </span></a>
            </div>
        </div>
        <hr><br>
        <div class="d-flex justify-content-center px-5">
            <a class="btn btn-outline-dark rounded-pill px-5 me-3"
                href="{% url 'department-list' %}">Departments</a>
            <a class="btn btn-outline-dark rounded-pill px-5"
                href="{% url 'department-list' %}">Unit/Section</a>
        </div>
        <br>
        <div class="table-responsive">
            <table class="table table-sm table-hover small">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Ext</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ob in object_list %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td><a class="text-dark"
                                href="{{ob.get_absolute_url}}">{{ob.name}}</a>
                        </td>
                        <td>{{ob.ext}}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3"
                            class="text-center fs-4">
                            No Employees
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
       
    </div>
</div>

{% endblock content %}