{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container">
  <h1>{% trans "Sign Out" %}</h1>
  <hr>

  <div class="col-lg-4 mx-auto bg-dark text-light rounded-4 mt-5 p-5">
<br><br>
    <p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>
<br>
    <form method="post"
      action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden"
        name="{{ redirect_field_name }}"
        value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="text-center">
        <button class="btn btn-outline-light px-5 rounded-pill"
          type="submit">{% trans 'Sign Out' %}</button>
      </div>
    </form>
    <br><br>
  </div>
</div>
{% endblock %}