{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}
Assign printer -
{% endblock head_title %}
{% block content %}
{% include 'go_back.html' %}

<form action=""
    enctype="multipart/form-data"
    method="post">
    {% csrf_token %}
    <div class="col-lg-4 mx-auto mt-5 shadow rounded-4 p-5">
        <h2>Assign printer</h2>
        <hr>
        <div id='form-errors'>{{ form_errors }}</div>
        <p>{{printer_name.serial_number}} - {{printer_name.model|upper}}</p>
        {{form|crispy}}
        <br>
        <div class="my-3 text-end">
            <button class="btn btn-outline-dark rounded-pill px-5"
                type="submit">Submit</button>
        </div>
    </div>
</form>

{% endblock content %}