{% extends 'base.html' %}

{% block head_title %}
{{object}} -
{% endblock head_title %}
{% block content %}
<div class="container">
    {% include 'go_back.html' %}
    <div class="col-lg-8 mx-auto shadow rounded-4 p-5">
        <div class="display-6">{{object.computer}}</div>
        <hr>
        <p>Name: {{object.name}}</p>
        <hr><br>
        <div class="text-end">
            <a class="btn btn-outline-dark rounded-pill px-5"
                href="{% url 'category-update' object.pk %}">Assign</a>
        </div>
    </div>
</div>
{% endblock content %}