<footer>
    <div
        class="d-flex justify-content-center sticky-bottom bg-white mt-5 small">
        <a class="text-decoration-none text-dark small"
            target="_blank"
            href="https://kingship.info/"><u>Swelan Auguste</u></a>,
        <a class="text-decoration-none text-dark small ms-1"
            href="tel:17584893909"><u>1-758-489-3909</u></a>
        <a class="text-decoration-none text-dark small ms-1"
            href="mailto:kingship.lc@gmail.com"><u>kingship.lc@gmail.com</u></a>
    </div>
    <p class="text-center small">&copy; {% now "Y" %} All rights reserved
    </p>

    <div class="text-end small m-2 text-muted">demo0.2</div>
</footer>