{% extends 'base.html' %}

{% load static %}

{% block head_title %}

{% endblock head_title %}

{% block content %}
<div class="container text-lg-start text-center">
    <a class="btn btn-lg btn-outline-info rounded-4 py-5 me-5 shadow my-3"
        style="min-width: 15rem;"
        href="{% url 'item-list' %}">Supplies</a>
    <hr>
    <a class="btn btn-lg btn-outline-primary rounded-4 py-5 me-5 shadow my-3"
        style="min-width: 15rem;"
        href="{% url 'computer-list' %}">Computers</a>
    <a class="btn btn-lg btn-outline-primary rounded-4 py-5 me-5 shadow my-3"
        style="min-width: 15rem;"
        href="{% url  'printer-list' %}">Printers</a>
    <a class="disabled btn btn-lg btn-outline-primary rounded-4 py-5 me-5 shadow my-3"
        style="min-width: 15rem;"
        href="">Scanner</a>
    <hr>
    <a class="btn btn-lg btn-outline-dark rounded-4 py-5 me-5 shadow my-3"
        style="min-width: 15rem;"
        href="{% url  'employee-list' %}">Employees</a>
    <hr>
    <a class=" btn btn-lg btn-outline-danger rounded-4 py-5 me-5 shadow my-3"
        style="min-width: 15rem;"
        href="{% url 'supplier-list' %}">Suppliers</a>
</div>
{% endblock content %}