{% load static %}
<div class="w-100 bg-warning text-center text-white">For Demo Purposes</div>
<nav class="row sticky-top bg-white">
    <div class="col">
        <div class="d-flex py-lg-2 px-lg-5 p-3 bg-white">
            <a class="h3 text-decoration-none text-dark fw-bold me-4"
                href="/">
            <img height="45rem" src="{% static 'images/favicon.ico' %}" alt=""></a>
           <a class="text-decoration-none text-dark py-2" href="/">Inventory Manager</a>
        </div>
    </div>
    <div class="col">
        <div class="d-flex py-lg-4 px-lg-5 p-3 bg-white justify-content-end">
            {% if request.user.is_authenticated %}
            <div class="dropdown me-2">
                <a class="text-decoration-none text-dark bg-transparent border-0 small p-0 m-0"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <span>{{request.user.profile}}</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item"
                            href="{{request.user.profile.get_absolute_url}}">User
                            Profile</a>
                    </li>
                    <li><a class="dropdown-item"
                            href="{% url 'account_email' %}">Change
                            email</a>
                    </li>
                    <hr class="m-0 p-0">
                    <li><a class="dropdown-item"
                            href="{% url 'account_logout' %}">Logout</a></li>
                </ul>
            </div>
            {% else %}
            <a class="text-dark"
                href="{% url 'account_login' %}">Sign in</a></li>
            {% endif %}
        </div>
    </div>
</nav>